[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
numpy = "1.19.3"
ipykernel = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3"
